body{
    margin: 0px;
}

#header{
    position: relative;
    background-image: url("/static/images/website/topbar.png");
    background-position: 50%;
    background-size: auto 100%;
    background-color: transparent;
    width: 100%;
    height: 150px;
}

@media (max-width: 600px) {
    #header {
        flex-direction: column;  /* stack vertically */
        align-items: flex-start; /* optional */
        gap: 10px;
        background-image: none;
    }
}

#logo{
    position: absolute;
    left: 10px;
    top:10px;
    width: auto;
    height: 60%;
}

#navlinks_body{
    position: relative;
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    top: 20px;
}

.navlink{
    color: white;
    text-shadow: 1em;
}