.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.outlined-text {
  color: black; /* text fill color */
  text-shadow: 
    0 0 10px #53ccf9,
    -1px -1px 0px black,
     1px -1px 0px black,
    -1px  1px 0px black,
     1px  1px 0px black;
}

html, body {
  height: 100%;
  margin: 0;
}

a{
  text-decoration: none;
}

#header{
    position: relative;
    background-image: url("/static/images/website/topbar.png");
    background-position: 50%;
    background-size: auto 100%;
    background-color: transparent;
    width: 100%;
    height: 150px;
}

@media (max-width: 600px) {
    #header {
        flex-direction: column;  /* stack vertically */
        align-items: flex-start; /* optional */
        gap: 10px;
        background-image: none;
    }
}

#logo{
    position: absolute;
    left: 30px;
    top:20px;
    width: auto;
    height: 60%;
}

#playbtn{
    position: absolute;
    right: 50px;
    height: 50px;
    width: 170px;
    top: calc(50% - 25px);
    background-image: linear-gradient(rgb(0, 145, 255), rgb(0, 76, 199), rgb(0, 145, 255));
    border-radius: 10px;
    border: none;
    box-shadow: 
        inset 0 3px 6px rgba(255, 255, 255, 0.5),
        inset 0 -3px 6px rgba(0, 0, 0, 0.3);
}

#playlink{
    font-family: "Bangers", system-ui;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px  1px 0px black,
        1px  1px 0px black;
}

#navlinks_body{
    position: relative;
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    top: 30px;
}

.navlink{
    color: white;
    text-shadow: 1;
}

.navlink:hover{
    text-shadow: 
        0 0 15px #53ccf9,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px  1px 0px black,
        1px  1px 0px black;
}

#footer_outer {
  background: url(/static/images/website/footer_side.png) 50% 0 repeat-x;
  height: 140px;
  width: 100%;
}

#footer{
    background: url(/static/images/website/footer.png) 50% 0 no-repeat;
    height: 140px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* full viewport height */
  background-color: #206FBB;
}

.main-content {
  flex: 1;  /* takes up remaining space */
}

/*####################################################################*/

#anim-container {
  background-image: url("/static/images/website/background.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  position: relative;
  height: 1024px;
  /* other styles */
}

#info-container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    align-self: center;
    justify-self: center;
    background-color: #22a0ee;
    border-radius: 15px;
    border-color: #22a0ee;
    border-width: 1px;
    height: 300px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: auto;
}

.card-image{
    width: 90%;
}

.p-card{
    text-align: center;
}