.oi-regular {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
}

.outlined-text {
  color: black; /* text fill color */
  text-shadow: 
    0 0 10px #53ccf9,
    -1px -1px 0px black,
     1px -1px 0px black,
    -1px  1px 0px black,
     1px  1px 0px black;
}

body{
    margin: 0px;
}

a{
  text-decoration: none;
}

#header{
    position: relative;
    background-image: url("/static/images/website/topbar.png");
    background-position: 50%;
    background-size: auto 100%;
    background-color: transparent;
    width: 100%;
    height: 150px;
}

@media (max-width: 600px) {
    #header {
        flex-direction: column;  /* stack vertically */
        align-items: flex-start; /* optional */
        gap: 10px;
        background-image: none;
    }
}

#logo{
    position: absolute;
    left: 30px;
    top:20px;
    width: auto;
    height: 60%;
}

#playbtn{
    
}

#navlinks_body{
    position: relative;
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    top: 30px;
}

.navlink{
    color: white;
    text-shadow: 1;
}

.navlink:hover{
    text-shadow: 
        0 0 15px #53ccf9,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px  1px 0px black,
        1px  1px 0px black;
    }