<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <title>Sprite Test</title>
  <link rel="stylesheet" type="text/css" href= "{% static "gameapp/css/styles.css" %}"">
</head>
<body>
    <h2>Sprite test — click canvas to move</h2>
    <div id="game_container">
        <canvas id="game" width="1100" height="700"></canvas>
        <div>
            <img id="map_icon" src="{% static "gameapp/img/sample_map.png" %}" alt="">
        </div>
        <div id="map" class="hide" >
            <img id="map_bg" src="{% static "gameapp/img/sample_map_full.png" %}" alt="">
            <img id="map_town" src="{% static "gameapp/img/sample_town.png" %}" alt="">
            <img id="map_lh" src="{% static "gameapp/img/sample_lighthouse.png" %}" alt="">
        </div>
    </div>
    <div id="info">Loading sprite...</div>
    <script>
        window.STATIC_URL = "{% static '' %}";
    </script>
    <script src="{% static 'gameapp/js/game.js' %}"></script>
</body>
</html>
