<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>Snowbound</title>
</head>
<body>
    <div id="header">
        <img id="logo" src="{% static "images/website/logo.webp" %}" alt="">
        <ul id="navlinks_body" class='oi-regular outlined-text'>
            <li>
                <a class='navlink' href="#">About</a>
            </li>
            <li>
                <a class='navlink' href="#">Whats New</a>
            </li>
            <li>
                <a class='navlink' href="#">Discord</a>
            </li>
            <li>
                <a class='navlink' href="#">Support</a>
            </li>
            <li>
                <a class='navlink' href="#">Register</a>
            </li>
        </ul>
        <button id="playbtn"><a href="#">PLAY NOW</a></button>
    </div>
    {% block content %}
    
    {% endblock  %}
    <div id="footer">

    </div>
</body>
</html>