{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="anim-container"></div>
    <div id="info-container">
        <div class='card'>
            <img class="card-image" src="{% static "images/website/support.webp" %}" alt="">
            <h3>
                About Us
            </h3>
            <p class="p-card">
                Learn more about Club Penguin Journey and how we're bringing the classic game back to life!
            </p>
        </div>
        <div class='card'>
            <img class="card-image" src="{% static "images/website/support.webp" %}" alt="">
            <h3>
                About Us
            </h3>
            <p class="p-card">
                Learn more about Club Penguin Journey and how we're bringing the classic game back to life!
            </p>
        </div>
        <div class='card'>
            <img class="card-image" src="{% static "images/website/support.webp" %}" alt="">
            <h3>
                About Us
            </h3>
            <p class="p-card">
                Learn more about Club Penguin Journey and how we're bringing the classic game back to life!
            </p>
        </div>
        <div class='card'>
            <img class="card-image" src="{% static "images/website/support.webp" %}" alt="">
            <h3>
                About Us
            </h3>
            <p class="p-card">
                Learn more about Club Penguin Journey and how we're bringing the classic game back to life!
            </p>
        </div>
        <div class='card'>
            <img class="card-image" src="{% static "images/website/support.webp" %}" alt="">
            <h3>
                About Us
            </h3>
            <p class="p-card">
                Learn more about Club Penguin Journey and how we're bringing the classic game back to life!
            </p>
        </div>
    </div>
{% endblock  %}